@model UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kullanıcı Profili Güncelleme Sayfası</h1>

<form method="post">
    <label>Kullanıcı adı</label>
    <input type="text" class="form-control border" asp-for="UserName" />
    <br />
    <label>Ad</label>
    <input type="text" class="form-control border" asp-for="Name" />
    <br />
    <label>Soyad</label>
    <input type="text" class="form-control border" asp-for="Surname" />
    <br />
    <label>Yaşadığınız Şehir</label>
    <input type="text" class="form-control border" asp-for="City" />
    <br />
    <label>Email Adresiniz</label>
    <input type="text" class="form-control border" asp-for="Email" />
    <br />
    <label>Parola</label>
    <input type="password" class="form-control border" asp-for="Password" />
    <br />
    <button class="btn btn-outline-primary">Kişi Bilgilerini Bir Güzel Güncelle</button>
</form>